/* Estilo para darle color al header */
header {
    background-color: #007bff;
    /* Color azul */
    color: white;
    /* Texto en blanco */
    padding: 10px 0;
    /* Espaciado vertical */
    text-align: center;
    /* Centrar el texto */
}

/* Estilo para que nav.ul.li tenga letras blancas */
header .nav-link {
    color: white !important;
    /* Fuerza el color */
}

header .nav-link:hover {
    color: #ddd !important;
    /* Color más claro al pasar el mouse */
}